<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" opened mode="side">
      <div class="boards-list">
        <button mat-stroked-button color="primary">
          <mat-icon>home</mat-icon>
          Your boards
        </button>

        <mat-list #sections *ngFor="let section of sections; let sectionIndex = index">
          <mat-list-item>
            <button mat-flat-button color="primary" [routerLink]="['/', section.name]">{{ section.name }} </button>
          </mat-list-item>
        </mat-list>

        <span>
          <mat-icon mat-button [matMenuTriggerFor]="sectionadd">add</mat-icon>
          <mat-menu #sectionadd="matMenu">
            <form (submit)="addSection($event, sectionName.value)">
              <mat-form-field>
                <input matInput type="text" placeholder="Section Name" #sectionName required (click)="stopPropagation($event)" />
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">
                Add Section
              </button>
            </form>
          </mat-menu>
        </span>
      </div>

    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>apps</mat-icon>
      </button>
    </div>
  </mat-drawer-container>


  <div *ngFor="let section of filteredSections; let sectionIndex = index">
    <div>
      <div class="section-title">
        <h2>{{ section.name }}</h2>
        <mat-icon mat-button [matMenuTriggerFor]="menu">settings</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-raised-button color="warn" (click)="deleteSection(sectionIndex)">
            Delete Section<mat-icon>clear</mat-icon>
          </button>
          <br />
          <button mat-raised-button color="primary" (click)="renameSection(section, newName.value)">
            Rename Section <mat-icon>create</mat-icon>
          </button>
          <br />
          <mat-form-field>
            <input matInput type="text" placeholder="New Name" (click)="stopPropagation($event)" #newName required />
          </mat-form-field>
        </mat-menu>
      </div>
      <div>
        <div class="columns" cdkDropListGroup>
          <div class="column" cdkDropList [cdkDropListData]="column.todos" (cdkDropListDropped)="drop($event)" #todoList="cdkDropList" [cdkDropListConnectedTo]="[todoList]" *ngFor="let column of section.columns; let columnIndex = index">
            <div class="column-title">
              <span>{{ column.name }}</span>

              <button (click)="deleteColumn(section, columnIndex)" mat-icon-button color="warn" aria-label="example">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <div class="column-content">
              <div class="todo-list-items" cdkDrag *ngFor="let todo of column.todos; let todoIndex = index">
                <app-todo-item [todo]="todo"></app-todo-item>
                <button (click)="deleteTodo(column, todoIndex)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                  <mat-icon>clear</mat-icon>
                </button>              </div>
            </div>

            <button [matMenuTriggerFor]="todo" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>add</mat-icon>
            </button>


            <mat-menu #todo="matMenu">
              <form [formGroup]="todoForm" (submit)="
                  addTodo(
                    $event,
                    column,
                    title.value,
                    description.value,
                    deadline.value
                  )
                ">
                <mat-form-field>
                  <input matInput type="text" [maxLength]="18" formControlName="title" placeholder="Title" #title required (click)="stopPropagation($event)" />
                </mat-form-field>
                <br />
                <mat-form-field>
                  <textarea matInput [maxLength]="30" formControlName="description" placeholder="Description" #description required (click)="stopPropagation($event)"></textarea>
                </mat-form-field>
                <br />
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Deadline" (input)="handleDateInput($event)" #deadline (click)="stopPropagation($event)" />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br />
                <button mat-raised-button color="primary" type="submit" [disabled]="todoForm.invalid">
                  Add Todo
                </button>
              </form>
            </mat-menu>
          </div>

          <mat-icon mat-button [matMenuTriggerFor]="todo">add</mat-icon>
          <mat-menu #todo="matMenu">
            <mat-form-field>
              <input matInput type="text" placeholder="Column Name" #columnName required (click)="stopPropagation($event)" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="addColumn($event, section, columnName.value)">
              Add column
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
