

.example-card {
  padding: 52px;
}




.container {
  display: flex;
  height: 100vh;

  .boards-list {
    text-align: center;
  }
}


.section-title {
  display: flex;
  justify-content: center;
}

.columns {
  display: flex;
  gap: 75px;
  text-align: center;
}

.column {
  border: 1.5px solid #673ab7;
  border-radius: 14px;
  min-width: 220px;
  flex: 1;
  height: fit-content;
  overflow-y: auto;
  min-height: 360px;


  .column-title {
    display: flex;
    color: white;
    border-radius: 12px 12px 0px 0px;
    align-items: center;
    padding: 8px;
    background-color: #673ab7;

    span {
      font-size: 16px;
    }
  }



  .column-content {
    margin: 12px 35px;
  }
}
