.todo-item {
  background-color: #673ab7;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  padding: 8px;

  .todo-item-info {
    gap: 12px;
    text-align: initial;
    padding: 6px;
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      max-width: 120px;
      font-size: 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}
